 .carousel-item{
  width: 100%;
  height: auto;
} 

.carousel-item img {
  margin-top: 10px;
  width: auto; 
  height: auto;
  max-height: 100%; 

}

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
  }
  
  .carousel-caption h5 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .carousel-caption p {
    font-size: 16px;
  }

  
  