#feapd1{

    margin-top: 60px;
}

  .product-topic {
    font-size: 35px;
    text-align: center;
   
    color: #3684a6;
    line-height: 1.1;
    margin: 20px 40px 20px;

    font-family: 'Courier New', monospace;
    font-variant-caps: petite-caps;
    border-bottom: 3px solid #3684a6;
    border-top: 3px solid #3684a6;
   
    padding: 2px;
    justify-content: center;
  }
  
 


  @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);

 
  
 
  .wrapper2 {
      width: 100%;
      margin: 20px auto;
  }
  
  div.gallery2 {
      margin-top: 40px;
  }
  
  div.gallery2 ul {
      list-style-type: none;
      padding: 2px;
      margin-top: 5px;
      margin-bottom: 5px;
      justify-content: center;
      display: flex;
      position: relative;
      
       
      
  }
  

  div.gallery2 ul li, div.gallery2 li img {
      -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
  }
  
  div.gallery2 ul li {
      position: relative;
      float: left;
      width: 200px;
      height: 250px;
      margin: 0 8px -50px;
      padding: 2px;
      z-index: 0;
  }

  
  

  div.gallery2 ul li:hover {
      z-index: 2;
  }
  

  div.gallery2 ul li img {
      position: absolute;
      left: 5;
      top: 5;
      border: 2px solid #8bceda;
      padding: 5px;
      width: 209px;
      height: 250px;
      background: #ffffff;
      box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
     
  }
  
  div.gallery2 ul li img:hover {
    width: 215px;
    height: 258px;

      top: 20%;
      left: 15%;
      
  }

  
  

  @media only screen and (min-width: 499px) and (max-width: 1212px) {
      .wrapper2 {
          width: 500px;
      }
  }
  
  @media only screen and (max-width: 498px) {
      .wrapper2 {
          width: 300px;
      }
  
      div.gallery2 ul {
          list-style-type: none;
          margin: 0;
      }
  }