

.Subscreen2__title{
    font-size: 25rem;
    color: #318B9B;;
    line-height: 1.1;
   
    /* text-align: center; */
    font-family: 'Courier New', monospace;
    font-variant-caps: petite-caps;
    border-bottom: 3px solid #318B9B;;
    border-top: 3px solid #318B9B;;
   
    padding: 2px;
    margin-top: 100px;
    
    

  }

  .product-category {
    font-size: 2rem;
    text-align: center;
  }
  

  /* .Subscreen2__title::before {
    content: "";
    display: block;
    border-top: 1px solid #ff7800;
    margin: 0 auto;
    width: 50%;
  } */
  
  
  @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);

 
  
  /* body {
      background-color: #f2f2f2;
  }
   */
  /* header {
      width: 100%;
      background-color: #77cdb4;
      text-align: center;
  } */
  
  /* h1 {
      font-family: 'Roboto Condensed', sans-serif;
      color: #FFF;
      font-size: 2.3em;
  }
  
  em {
      color: #232027;
  } */
  
  div.gallery ul {
    list-style-type:none;
    margin-left: 1px;
    position: relative;
    justify-content: center;
    display: flex;
    
}





/* Responsive hack */
@media only screen and (min-width: 499px) and (max-width: 1212px) {
    .wrapper {
        width: 500px;
    }
}

@media only screen and (max-width: 498px) {
    .wrapper {
        width: 300px;
    }

    div.gallery ul {
        list-style-type: none;
        margin: 0;
    }
}

*/

  div.gallery {
      margin-top: 20px;
  }
   
  



 
  
  


  
 
 
  
 .gallery button {
    background: #0af1f1;
    color: #000;
    border-radius: 5px;
    width: 120px;
    height: 50px;
  }
  
 .gallery button:hover {
    filter: brightness(1.1);
    background: #26e6e6;
  }
  
  
  
  